.login__logo {
  object-fit: contain;
  height: 100px !important;
  margin-top: 70px;
  margin-bottom: 50px;
}
.forgetPassword {
  text-align: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1.5px solid lightgray;
  width: 20%;
  margin-left: 40%;
  padding-top: 30px;
  box-sizing: border-box;
  margin-top: 50px;
  padding-bottom: 30px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.login__warning {
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
}
