.detailedDescription {
  border: 1px solid lightgray;
  width: 60%;
  margin: auto;
}
.detailedDescription__title {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 15px;
  box-sizing: border-box;
}
.detailedDescription__content {
  padding: 3%;
  font-size: 1.3rem;
}
