.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}
.home {
  width: 100%;

  text-align: center;
}
.title {
  font-weight: 800;
  font-size: 2rem;
  text-decoration: underline;
}
